# App Settings
## Nothing, just a little app settings you may need

### APP_MODE: Mode of Agent
#### IN normal usage, keep it `production` but
#### for example you need to debug the agent and
#### you can change the mode to `debug`.
#### For more information you can checkout our official docs
APP_MODE=production

# ----- # ----- # ----- # ----- # ----- #

# Server Configurations
## How would server make connection to Agent

### ALLOWED_IPS: Range IPs to able make connection to Agent
#### 0.0.0.0/0 -> All IPv4 in the world
#### 10.1.1.0/24 -> Just a block or range IP
#### 10.1.1.40.50 -> Only one IPv4
ALLOWED_IPS=0.0.0.0/0,10.1.1.0/24,10.1.40.50

# ----- # ----- # ----- # ----- # ----- #

# Agent Configurations
## How the Agent work

### BIND_IP: In which range IP Agent runs
#### 0.0.0.0 -> Bind every where
BIND_IP=0.0.0.0

### PORT: In which port the Agent runs
#### Default port is 9703 but you can change it
PORT=9703

# ----- # ----- # ----- # ----- # ----- #

# Host Configurations
## In host config you may change some varaible

### HOSTNAME: The name you know your host in dashboard
#### Default is just default Agent name, please change it
HOSTNAME=Agent_Node_004

# ----- # ----- # ----- # ----- # ----- #

# API Configurations
## Security part

### API_KEY: Enter the API Key you set in dashboard
### Get the API Key and put it here
API_KEY=apikey
